﻿@model Player

<tr>
    <td>@Model.PlayerId</td>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Team.Name</td>
    <td>@Model.Position.Name</td>
    <td>
        <form id="@Model.PlayerId" asp-action="AddToCart"
              asp-controller="Cart" method="post">
            <input type="hidden" asp-for="PlayerId" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                @string.Format("{0:c}", @Model.Position.Salary)
                <button type="submit"
                        class="btn btn-success btn-sm pull-right" style="float:right">
                    Add To Cart
                </button>
        </form>
    </td>
</tr>