﻿@{
    ViewBag.Title = "Edit Team";
    Layout = "_AdminLayout";
}
@model Team

<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="TeamId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input required asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location"></label>
        <div><span asp-validation-for="Location" class="text-danger"></span></div>
        <input required asp-for="Location" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>