﻿@model IEnumerable<Team>
@{
    ViewBag.Title = "All Teams";
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
<table class="table table-striped ">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th>Location</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.TeamId</td>
            <td>@item.Name</td>
            <td>@item.Location</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-teamId="@item.TeamId">
                        Edit
                    </a>
                    <input type="hidden" name="PlayerID" value="@item.TeamId" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Team</a>
</div>