﻿@model Player
@{
    ViewBag.Title = "Edit Player";
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="PlayerId" />
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
        <input required asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <div><span asp-validation-for="LastName" class="text-danger"></span></div>
        <input required asp-for="LastName" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>