﻿@model IEnumerable<Player>
@{
    ViewBag.Title = "All Players";
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
<table class="table table-striped ">
    <tr>
        <th class="text-right">ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="text-right">Price</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.PlayerId</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td class="text-right">@item?.Position?.Salary.ToString("c")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-playerId="@item.PlayerId">
                        Edit
                    </a>
                    <input type="hidden" name="PlayerID" value="@item.PlayerId" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Player</a>
</div>