﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<CDStore.Models.CDObject>

    <html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>

            body {
                border: 5px solid black;
                border-radius: 10px;
                padding: 15px;
                margin: 0 auto;
                border: 2px solid black;
                border-radius: 10px;
                height: fit-content;
                width: 1000px;
            }

            .addCD {
                margin: 20 0px;
                color: white !important;
            }
        </style>
    </head>

    <title>My CD Portfolio</title>

</html>

<body>

    <h1>My CD Portfolio</h1>

    @if(@ViewBag.listEmpty) {

    <div>
        <h2>
            No CDs currently in the portfolio.
        </h2>
        <a class="btn btn-primary" asp-action="AddCD">Add CD</a>
    </div>

    } else {

    <a class="btn btn-primary addCD" asp-controller="Main" asp-action="AddCD">Add CD</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Bank</th>
                <th>Term (Months)</th>
                <th>Rate</th>
                <th>Purchase Date</th>
                <th>Maturity Date</th>
                <th>Deposit Amount</th>
                <th>Value at Maturity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CDStore.Models.CDObject r in Model)
            {
            <tr>
                <td>@r.Bank</td>
                <td>@r.Term</td>
                <td>@r.Rate</td>
                <td>@r.PurchaseDate</td>
                <td>@r.MaturityDate</td>
                <td>@r.DepositAmount</td>
                <td>@r.MaturityValue</td>
            </tr>
            }
        </tbody>
    </table>
    }

</body>

