﻿@model LAB_05.Models.Product

@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <title>Add product page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Create Product</h1>

    <form asp-action="AddProduct" method="post">
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price">Price:</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div>
            <button type="submit" class="btn btn-success">Add</button>
            <a asp-action="Index" class="btn btn-error">Cancel</a>
        </div>
    </form>
</body>
</html>