﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Team>

@{
    ViewBag.Title = "Team Complex";
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

    <style>

        body {
            border: 5px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 1000px;
        }

        .addCD {
            margin: 20 0px;
            color: white !important;
        }
    </style>
</head>

</html>

<body>

    <h1>Team Complex View</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Stadium</th>
                <th>Players</th>
                <th>Salary Cap</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Team t in Model)
            {
                <tr>
                    <td>@t.TeamId</td>
                    <td>@t.Name</td>
                    <td>@t.Location</td>
                    <td>@t.Stadium.Name</td>
                    <td>
                        <p>Total players: @t.Players.Count()</p>
                        @foreach (Player p in t.Players)
                        {
                            <span>@p.FirstName, </span>
                        }
                    </td>
                    <td>
                        <p>@string.Format("{0:c}", t.Players.Sum(pl => (decimal)pl.Position.Salary)) </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>