﻿@model IEnumerable<string>
@{ Layout = null;}

<html>

<head>

    <title>Features</title>
</head>

<body>
    <ul>
        @foreach (string s in Model)
        {
            <li>@s</li>
        }
    </ul>
</body>
</html>