﻿@{

}



<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script> var Players = '@ViewBag.Players' </script>
    <script> var Positions = '@ViewBag.Positions' </script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawMultSeries);

        function drawMultSeries() {




            const positionsJSON = JSON.parse(Positions.replace(/&quot;/g, '"'));
            console.log(positionsJSON);
            var array = [];
            array.push(['Player', 'Amount']);
            positionsJSON.forEach(function (obj) {
                position = obj.Name;
                salary = obj.Salary;

                obj.Players.forEach(function (player) {
                    console.log(player);
                    array.push([player.FirstName + ' ' + player.LastName + ' - ' + position, salary])
                })
            });

            console.log(array);


            var data = google.visualization.arrayToDataTable(array);


            var options = {
                title: 'Players and Salary',
                hAxis: {
                    title: 'Salary',
                    minValue: 0
                },
                vAxis: {
                    title: 'Players'
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="chart_div" style="height: 800px; width: 1000px"></div>
</body>
</html>