﻿@model IEnumerable<Team>


    <html>
    <head>
        <script>var Teams = '@ViewBag.Teams'</script>
        <script> var teamName = '@ViewBag.teamName' </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script type="text/javascript">
            const positionsJSON = JSON.parse(Teams.replace(/&quot;/g, '"'));

            var teamCode = "";
            switch (teamName) {
                case 'Chargers':
                    teamCode = "LAC";
                    break;
                case 'Rams':
                    teamCode = "LA";
                    break;
                case 'Dolphins':
                    teamCode = "MIA";
                    break;
                case 'Chiefs':
                    teamCode = "CHI";
                    break;
                case 'Patriots':
                    teamCode = "NE";
                    break;
                case 'Packers':
                    teamCode = "GB";
                    break;
                default:
                    console.log(`Sorry, we are out of ${expr}.`);
            }


            axios.defaults.withCredentials = true
            var api = 'http://localhost:8080/https://api.ftndata.com/v2.0/test/players/' + teamCode;

            var config = {
                headers: { 'Access-Control-Allow-Origin': '*' },
                withCredentials: false,
            };

            axios.get(api, config).then(function (response) {
                response = response.data;

                console.log(response);
                var trHTML = '<tbody>';
                $.each(response.data, function (i, item) {
                    trHTML += '<tr><td>' + item.pname + '</td><td>' + item.pos1 + '</td><td>' + item.col + '</td><td>' + item.weight + '</td></tr>';
                });
                trHTML += "</tbody>";
                $('#records_table').append(trHTML);

                $('#showing_table').text('Showing players for: ' + teamName );
            });



        </script>
    </head>
    <body>


        @foreach (Team t in Model)
        {

        <a class="btn btn-secondary" asp-controller="Player" asp-action="RealPlayers" asp-route-teamName="@t.Name">@t.Name</a>
        }
        <div id="showing_table"></div>
        <table class="table table-striped" id="records_table" border='1'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>College</th>
                    <th>Weight</th>
                </tr>
            </thead>

        </table>

    </body>
</html>
