﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PlayersListViewModel

@{
    ViewBag.Title = "Player Simple";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <style>

        body {
            border: 5px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 1500px;
        }

        .addCD {
            margin: 20 0px;
            color: white !important;
        }

        .pagination a {
            margin: 10px;
            font-weight: bold;
            border: 1px solid black;
            padding: 8px;
            border-radius: 4px;
            color: white;
            background-color: #343a40;
        }
    </style>
</head>

<body>

    <h1>Player Simple View</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Player p in Model.Players)
            {
                @Html.Partial("PlayerInfoPartial", p)

            }
        </tbody>
    </table>


    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="teamName"></label>
            <input type="text" class="form-control" name="teamName" id="teamName">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    }

    <div class="pagination" page-model="@Model.PagingInfo" page-action="Simple"></div>
</body>