﻿<html>
<head>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

    <style>

        body {
            border: 5px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 1000px;
        }

        .addCD {
            margin: 20 0px;
            color: white !important;
        }

        .nav-btn-text {
            color: white !important;
        }
    </style>
</head>

<title>@ViewBag.Title - LAB_07</title>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="btn btn-dark"><a asp-controller="Player" asp-action="Simple" class="nav-btn-text">Player - Simple</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Position" asp-action="Simple" class="nav-btn-text">Position - Simple</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Stadium" asp-action="Simple" class="nav-btn-text">Stadium - Simple</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Team" asp-action="Simple" class="nav-btn-text">Team - Simple</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Team" asp-action="Complex" class="nav-btn-text">Team - Complex</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Player" asp-action="Simple" class="nav-btn-text">Player - Simple</a></button>

            </div>
        </div>
    </nav>

    @RenderBody()
</body>
</html>