﻿@model IEnumerable<Player>


    @foreach (Player p in Model)
    {
    <tr>
        <td>@p.PlayerId</td>
        <td>@p.FirstName</td>
        <td>@p.LastName</td>
        <td>@p.Team.Name</td>
        <td>@p.Position.Name</td>
    </tr>
    }
