﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ Layout = null;}
@model IEnumerable<Stadium>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        body {
            border: 5px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 1000px;
        }

        .addCD {
            margin: 20 0px;
            color: white !important;
        }
    </style>
</head>

<title>Stadium Simple View</title>
</html>

<body>

    <h1>Stadium Simple View</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Max Capacity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Stadium p in Model)
            {
                <tr>
                    <td>@p.StadiumId</td>
                    <td>@p.Name</td>
                    <td>@p.Location</td>
                    <td>@String.Format("{0:n0}", p.MaxCapacity)</td>
                </tr>
            }
        </tbody>
    </table>
</body>