﻿<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        .hero-page {
            border: 2px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>


</html>

<body>
    <div class="hero-page">
        @if (@ViewBag.student != null)
        {
            @:
            <h1>
                Welcome, @ViewBag.student.FullName
            </h1>
        }
        else
        {
            @:
            <h1>
                No student, have you registered?
            </h1>
        }

        <a class="btn btn-success" asp-action="ViewCourse">View Courses</a>

    </div>


</body>
