﻿@model LAB_03.Models.Course[]

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        .hero-page {
            border: 2px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .FullTime_True {
            background-color: limegreen !important;
        }

        .FullTime_False {
            background-color: indianred !important;
        }
    </style>
</head>

</html>

<body>
    <div class="hero-page">
        @if (@ViewBag.student != null)
        {
            @:
            <h1>
                Welcome, @ViewBag.student.FullName
            </h1>
        }
        else
        {
            @:
            <h1>
                No student, have you registered?
            </h1>
        }

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Credits</th>
                    <th>Description</th>
                    <th>StartDate</th>
            </thead>
            <tbody>
                @foreach (Course c in Model)
                {
                    <tr class="FullTime_@(c.IsFullTime)">
                        <td>@c.ID</td>
                        <td>@c.Credits</td>
                        <td>@c.Name</td>
                        <td>@c.Description</td>
                        <td>@c.StartDate</td>
                    </tr>
                }
            </tbody>
        </table>


        <p>Red = Not fulltime</p>
        <a class="btn btn-success" asp-action="Index">Home</a>
    </div>
</body>