﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Position>

@{
    ViewBag.Title = "Position Simple";
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <style>

        body {
            border: 5px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 1000px;
        }

        .addCD {
            margin: 20 0px;
            color: white !important;
        }
    </style>
</head>

</html>

<body>

    <h1>Position Simple View</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Position p in Model)
            {
                <tr>
                    <td>@p.PositionId</td>
                    <td>@p.Name</td>
                    <td>@string.Format("{0:c}", p.Salary)</td>
                </tr>
            }
        </tbody>
    </table>
</body>