﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ Layout = null;}
@model IEnumerable<Player>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        body {
            border: 5px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 1000px;
        }

        .addCD {
            margin: 20 0px;
            color: white !important;
        }
    </style>
</head>

<title>Player Simple View</title>
</html>

<body>

    <h1>Player Simple View</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Player p in Model)
            {
                <tr>
                    <td>@p.PlayerId</td>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                    <td>@p.Team.Name</td>
                    <td>@p.Position.Name</td>
                </tr>
            }
        </tbody>
    </table>
</body>