﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Team>

@{
    ViewBag.Title = "Team Simple";

}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

    <style>

        body {
            border: 5px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 1000px;
        }

        .addCD {
            margin: 20 0px;
            color: white !important;
        }
    </style>
</head>

</html>

<body>

    <h1>Team Simple View</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Stadium</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Team t in Model)
            {
                <tr>
                    <td>@t.TeamId</td>
                    <td>@t.Name</td>
                    <td>@t.Location</td>
                    <td>@t.Stadium.Name</td>
                </tr>
            }
        </tbody>
    </table>
</body>