﻿<html>
<head>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>

        body {
            border: 5px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 1500px;
        }

        .addCD {
            margin: 20 0px;
            color: white !important;
        }

        .nav-btn-text {
            color: white !important;
        }

        .teamNames {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
        }
    </style>
</head>

<title>@ViewBag.Title - LAB_07</title>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="btn btn-dark"><a asp-controller="Player" asp-action="Simple" class="nav-btn-text">Player - Simple</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Position" asp-action="Simple" class="nav-btn-text">Position - Simple</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Stadium" asp-action="Simple" class="nav-btn-text">Stadium - Simple</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Team" asp-action="Simple" class="nav-btn-text">Team - Simple</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Team" asp-action="Complex" class="nav-btn-text">Team - Complex</a></button>
                <button type="button" class="btn btn-dark"><a asp-controller="Player" asp-action="Simple" class="nav-btn-text">Player - Simple</a></button>


                <div class="col-2 text-right">
                    @await Component.InvokeAsync("CartSummary")
                </div>
            </div>


        </div>
    </nav>


    <div class="row m-1 p-1">
        <div id="teamNames" class="teamNames col-3">
            @await Component.InvokeAsync("TeamMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>


</body>
</html>