﻿@model IEnumerable<string>

<a class="btn btn-block btn-danger"
   asp-action="Simple"
   asp-controller="Player"
   asp-route-teamName="">
    Clear Filters
</a>

@foreach (string name in Model)
{
    <a class="btn btn-block
       @(name == ViewBag.SelectedTeamName ? "btn-primary": "btn-secondary")"
       asp-action="Simple"
       asp-controller="Player"
       asp-route-teamName="@name"
       asp-route-page="1">
        @name
    </a>
}